* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.col {
    float: left;
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 50%;
}
.w-60 {
    width: 60%;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-white {
    color: white;
}
.size-13 {
    font-size: 13px;
}
.size-15 {
    font-size: 15px;
}
.bg-blue {
    background-color: #0061FF;
}
.btn.bg-blue:hover {
    background-color: #3783ff;
}
a.btn {
    text-decoration: none;
    padding: 6px 18px;
    display: inline-block;
}
.container-80 {
    width: 80%;
    margin: 0 auto;
}
h1 {
    font-size: 70px;
}

/* Stilizzazione topbar */
header .topbar {
    height: 70px;
    font-weight: 400;
    padding: 0 25px;
}
header .topbar ul {
    list-style-type: none;
    display: inline;
}
header .topbar ul li {
    line-height: 70px;
    display: inline;
    margin-right: 20px;
}
header .topbar ul li a {
    color: black;
    text-decoration: none;
}
header .topbar ul li a:hover {
    text-decoration: underline;
}
header .topbar .main-menu ul li a .logo {
    vertical-align: text-bottom;
}

/* Stilizzazione hero */
header .hero {
    height: 630px;
    background-color: #B4D0E7;
    padding-top: 60px;
}
header .hero h1 {
    margin-bottom: 30px;
}
header .hero p {
    font-weight: 400;
    padding-right: 100px;
    margin-bottom: 30px;
}
header .hero img {
    width: 100%;
}
header .hero .btn {
    margin-bottom: 10px;
}
header .hero .trial {
    margin-bottom: 30px;
}
header .hero .fa-arrow-down {
    font-size: 35px;
}