* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.col {
    float: left;
}
.w-20 {
    width: 20%;
}
.w-25 {
    width: 25%;
}
.w-30 {
    width: 30%;
}
.w-33 {
    width: calc(100% / 3);
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 50%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.w-75 {
    width: 75%;
}
.w-80 {
    width: 80%;
}
.w-100 {
    width: 100%;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-white {
    color: white;
}
.text-black {
    color: black;
}
.text-blue {
    color: #0061FF;
}
.size-12 {
    font-size: 12px;
}
.size-13 {
    font-size: 13px;
}
.size-14 {
    font-size: 14px;
}
.size-15 {
    font-size: 15px;
}
.bg-blue {
    background-color: #0061FF;
}
.bg-white {
    background-color: white;
}
.btn.bg-white {
    border: 1px solid black;
}
.btn.bg-white:hover {
    background-color: #f5f5f5;
}
.btn.bg-blue:hover {
    background-color: #3783ff;
}
a.btn {
    text-decoration: none;
    padding: 6px 18px;
    display: inline-block;
}
.container-80 {
    width: 80%;
    margin: 0 auto;
}
.container-65 {
    width: 65%;
    margin: 0 auto;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 15px;
}
.circle {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #d0d0d3;
}
.circle.selected {
    border: 5px solid #0061FF;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}

/* Stilizzazione topbar */
header {
    margin-bottom: 165px;
}
header .topbar {
    height: 70px;
    width: 100%;
    background-color: white;
    font-weight: 400;
    padding: 0 25px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
header .topbar ul {
    list-style-type: none;
    display: inline;
}
header .topbar ul li {
    line-height: 70px;
    display: inline;
}
header .topbar ul li a {
    color: black;
    display: inline-block;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
}
header .topbar ul li a:hover {
    border-bottom: 2px solid black;
}
header .topbar .main-menu ul li a .logo {
    vertical-align: text-bottom;
}
header .topbar .main-menu ul li.home a:hover {
    border-bottom: none;
}

/* Stilizzazione hero */
header .hero {
    background-color: #B4D0E7;
    padding-top: 60px;
    margin-top: 70px;
}
header .hero p {
    font-weight: 400;
    padding-right: 100px;
}
header .hero img {
    width: 100%;
}
header .hero .fa-arrow-down {
    font-size: 35px;
    margin-bottom: 100px;
}
header .hero .row {
    position: relative;
    top: 70px;
}

/* Stilizzazione main */
main .plans {
margin-bottom: 150px;
}
main .plans .radio {
    display: inline-block;
    margin-right: 20px;
}
main .plans .circle {
    margin-right: 5px;
    position: relative;
    top: 3px;
}
main .plans .columns .col.left, main .features .columns .col.left {
    padding-right: 40px;
}
main .plans .columns .col.center, main .features .columns .col.center {
    padding: 0 20px;
}
main .plans .columns .col.right, main .features .columns .col.right {
    padding-left: 40px;
}
main .plans .contain {
    border: 1px solid #d0d0d3;
}
main .plans .col .contain  {
    height: 900px;
}
main .plans .plan-target {
    line-height: 40px;
    border-bottom: 1px solid #d0d0d3;
}
main .plans .plan-info {
    padding: 30px 25px 0 25px;
}
main .plans .plan-info .plan-overview .frequency {
    color: #637381;
}
main .plans .plan-info .plan-overview .benefit { 
    padding-left: 1.5em;
    text-indent: -0.7em;
}
main .plans .plan-info .plan-details ul {
    list-style-type: none;
}
main .plans .plan-info .plan-details ul li i {
    color: #0061FF;
}
main .plans .plan-info .plan-details li { 
    padding-left: 1.5em;
    text-indent: -0.7em;
}
main .partner .partner-for-you img {
    width: 100%;
}
main .partner .partner-for-you .col.right {
    padding-left: 50px;
}
main .partner .partner-for-you .col.right p {
    line-height: 175%;
}
main .partner {
    margin-bottom: 90px;
}
main .features .columns .image {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    }
main .features .columns .image.switching {
    background-image: url('../img/business-feature-switching-tools.png');
}
main .features .columns .image.coordinate {
    background-image: url('../img/business-feature-coordinate-it.png');
}
main .features .columns .image.multi-device {
    background-image: url('../img/business-feature-multi-device.png');
}
main .features .columns .image.integrations {
    background-image: url('../img/business-feature-integrations-it.png');
}
main .features .columns .image.send-files {
    background-image: url('../img/business-feature-send-files-it.png');
}
main .features .columns .image.security {
    background-image: url('../img/business-feature-security.png');
}
.features .contain p {
    font-size: 15px;
}
.features .columns {
    margin-bottom: 90px;
}
main .features {
    margin-bottom: 170px;
}
main .clients .client {
    height: 230px;
    position: relative;
}
main .clients .client.one {
    background-color: #A2D39B;
}
main .clients .client.two {
    background-color: #61082B;
}
main .clients .client.three {
    background-color: #0093CE;
}
main .clients .client.four {
    background-color: #FF1C1C;
}
main .clients .client.five {
    background-color: #D5001F;
}
main .clients .client.six {
    background-color: #B4D0E7;
}
main .clients .client.seven {
    background-color: #0D2481;
}
main .clients .client.eight {
    background-color: #FFD830;
}
main .clients .client img {
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}
.clients .col.center {
    padding: 50px;
}
.clients .col.center img {
    width: 130px;
}
.clients .col.center hr {
    width: 50px;
}
.clients .call-to-action {
    background-color: #B4D0E7;
    padding: 100px 0;
}
.clients .call-to-action h2 {
    color: #61082B;
}
.clients .call-to-action a {
    padding: 7px 30px;
    border: none;
}