* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.col {
    float: left;
}
.w-20 {
    width: 20%;
}
.w-33 {
    width: calc(100% / 3);
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 50%;
}
.w-60 {
    width: 60%;
}
.w-100 {
    width: 100%;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-white {
    color: white;
}
.size-12 {
    font-size: 12px;
}
.size-13 {
    font-size: 13px;
}
.size-14 {
    font-size: 14px;
}
.size-15 {
    font-size: 15px;
}
.bg-blue {
    background-color: #0061FF;
}
.btn.bg-blue:hover {
    background-color: #3783ff;
}
a.btn {
    text-decoration: none;
    padding: 6px 18px;
    display: inline-block;
}
.container-80 {
    width: 80%;
    margin: 0 auto;
}
.container-65 {
    width: 65%;
    margin: 0 auto;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 15px;
}
.circle {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #d0d0d3;
}
.circle.selected {
    border: 5px solid #0061FF;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}

/* Stilizzazione topbar */
header {
    margin-bottom: 165px;
}
header .topbar {
    height: 70px;
    font-weight: 400;
    padding: 0 25px;
}
header .topbar ul {
    list-style-type: none;
    display: inline;
}
header .topbar ul li {
    line-height: 70px;
    display: inline;
    margin-right: 20px;
}
header .topbar ul li a {
    color: black;
    text-decoration: none;
}
header .topbar ul li a:hover {
    text-decoration: underline;
}
header .topbar .main-menu ul li a .logo {
    vertical-align: text-bottom;
}

/* Stilizzazione hero */
header .hero {
    background-color: #B4D0E7;
    padding-top: 60px;
}
header .hero p {
    font-weight: 400;
    padding-right: 100px;
}
header .hero img {
    width: 100%;
}
header .hero .fa-arrow-down {
    font-size: 35px;
    margin-bottom: 100px;
}
header .hero .row {
    position: relative;
    top: 70px;
}

/* Stilizzazione main */
main .plans .radio {
    display: inline-block;
    margin-right: 20px;
}
main .plans .circle {
    margin-right: 5px;
    position: relative;
    top: 3px;
}
main .plans .columns .col.left {
    padding-right: 40px;
}
main .plans .columns .col.center {
    padding: 0 20px;
}
main .plans .columns .col.right {
    padding-left: 40px;
}
main .plans .columns .col .contain {
    border: 1px solid #d0d0d3;
    height: 900px;
}
main .plans .plan-target {
    line-height: 40px;
    border-bottom: 1px solid #d0d0d3;
}
main .plans .plan-info {
    padding: 30px 25px 0 25px;
}
main .plans .plan-info .plan-overview .frequency {
    color: #637381;
}
main .plans .plan-info .plan-overview .buy-now a {
    color: #0061FF;
}
main .plans .plan-info .plan-details ul {
    list-style-type: none;
}
main .plans .plan-info .plan-details ul li i {
    color: #0061FF;
}